@*
    _ViewImports
*@

@model List<Urun>

@*
    _ViewStarts
*@

@foreach (var item in Model)
{
    <p>
        @item.Id - @item.Ad - @($"{item.Fiyat:c2}")
    </p>
}
@section Scripts{  @*bunu kullanmamzın sebebi scripts layout da bulunuyor ama kod layoutun üstünde kalıyor section kullanarak önce layoutdaki scripty çalışır*@
    <script>
        App.name = "Kamil";
        console.log(App.selamla());
    </script>
}
