@model ShipperViewModel

<div class="text-danger">
    <div asp-validation-summary="All"></div>
</div>

<form method="post" asp-action="Update" asp-controller="Shipper">
    <input asp-for="ShipperId" type="hidden" />
    <label asp-for="CompanyName"></label>
    <input asp-for="CompanyName" />
    <span class="text-danger" asp-validation-for="CompanyName"></span>
    <br />
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <span class="text-danger" asp-validation-for="Phone"></span>
    <br />
    <input type="submit" value="Guncelle" class="btn btn-primary" />
</form>